/*
first - #E0FFFB
second - #29CDB5
third - #008698
4th - #F39C9C
font - 400/700

 */

body {
    background: #E0FFFB;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-inverse .navbar-brand {
    font-size: 2em;
    color: #E0FFFB;
}

#filters {
    font-size: 1em;
    color: #A8BFBC;
}

.navbar-inverse .navbar-nav>li>a {
    color: #A8BFBC;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    cursor: cell;
}

.navbar-inverse {
    background: #008698;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #00CBE6;
    font-size: 1.25em;
}

.green {
    color: #29CDB5;
}

.red {
    color: #994545;
}

#status>p {
    font-size: 1.5em;
    color: #008698;
}

#status:hover, #status:focus {
    text-decoration: none;
}



#status .fa-tv {
    font-size: 2em;
}

main li {
    border-bottom: 1px solid #994545;
    margin-bottom: 2em;
}

#default {
    font-size: 8em;
    color: #008698;
}

h2 {
    font-size: 2.8em;
    color: #994545;
    border-bottom: 4px solid #994545;
    cursor: crosshair;
}

.img-rounded:hover,
.img-rounded:focus {
    cursor: w-resize;
}

#bio {
    font-size: 1.2em;
    cursor: alias;
}

#bio::first-line, #game {
    font-size: 1.4em;
    font-style: italic;
}

#author {
  font-size: 1.5em;
  color: #008698;
}

#ohNo {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BEEED8), to(#9BB5A6));
    background-image: -webkit-linear-gradient(top, #BEEED8, #9BB5A6);
    background-image: -moz-linear-gradient(top, #BEEED8, #9BB5A6);
    background-image: -ms-linear-gradient(top, #BEEED8, #9BB5A6);
    background-image: -o-linear-gradient(top, #BEEED8, #9BB5A6);
    color: #3C0052;
    margin: 1em;
    width: 10em;
    height: 4em;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    cursor: help;

}